-- Logical backup of database `tabungan`
-- Generated: 2026-01-09T19:02:43+01:00

SET FOREIGN_KEY_CHECKS=0;

-- Table structure for table `cache`
DROP TABLE IF EXISTS `cache`;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `cache_locks`
DROP TABLE IF EXISTS `cache_locks`;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `failed_jobs`
DROP TABLE IF EXISTS `failed_jobs`;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `jenis_tabungan`
DROP TABLE IF EXISTS `jenis_tabungan`;
CREATE TABLE `jenis_tabungan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nama_jenis` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for table `jenis_tabungan`
INSERT INTO `jenis_tabungan` (`id`,`nama_jenis`) VALUES ('1','Reguler');
INSERT INTO `jenis_tabungan` (`id`,`nama_jenis`) VALUES ('2','Pelajar');
INSERT INTO `jenis_tabungan` (`id`,`nama_jenis`) VALUES ('3','Umroh');

-- Table structure for table `job_batches`
DROP TABLE IF EXISTS `job_batches`;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `jobs`
DROP TABLE IF EXISTS `jobs`;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `katasandi_reset_otps`
DROP TABLE IF EXISTS `katasandi_reset_otps`;
CREATE TABLE `katasandi_reset_otps` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `no_hp` varchar(15) NOT NULL,
  `kode_otp` varchar(6) NOT NULL,
  `status` varchar(20) DEFAULT 'belum',
  `expired_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Dumping data for table `katasandi_reset_otps`
INSERT INTO `katasandi_reset_otps` (`id`,`no_hp`,`kode_otp`,`status`,`expired_at`,`created_at`) VALUES ('45','6287822451601','714881','terpakai','2026-01-08 09:37:17','2026-01-08 09:36:46');
INSERT INTO `katasandi_reset_otps` (`id`,`no_hp`,`kode_otp`,`status`,`expired_at`,`created_at`) VALUES ('46','6287875748726','779772','belum','2026-01-08 03:41:23','2026-01-08 09:40:23');
INSERT INTO `katasandi_reset_otps` (`id`,`no_hp`,`kode_otp`,`status`,`expired_at`,`created_at`) VALUES ('47','6283875748726','369747','terpakai','2026-01-08 09:42:55','2026-01-08 09:42:11');

-- Table structure for table `migrations`
DROP TABLE IF EXISTS `migrations`;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for table `migrations`
INSERT INTO `migrations` (`id`,`migration`,`batch`) VALUES ('1','0001_01_01_000000_create_users_table','1');
INSERT INTO `migrations` (`id`,`migration`,`batch`) VALUES ('3','0001_01_01_000002_create_jobs_table','1');
INSERT INTO `migrations` (`id`,`migration`,`batch`) VALUES ('4','0001_01_01_000001_create_cache_table','2');

-- Table structure for table `mulai_nabung`
DROP TABLE IF EXISTS `mulai_nabung`;
CREATE TABLE `mulai_nabung` (
  `id_mulai_nabung` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_tabungan` bigint(20) unsigned NOT NULL,
  `jenis_tabungan` varchar(100) DEFAULT 'Tabungan Reguler',
  `nomor_hp` varchar(20) NOT NULL,
  `nama_pengguna` varchar(100) NOT NULL,
  `tanggal` date NOT NULL,
  `jumlah` int(11) NOT NULL,
  `status` enum('menunggu_penyerahan','menunggu_admin','berhasil','ditolak') DEFAULT 'menunggu_penyerahan',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_mulai_nabung`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Table structure for table `notifikasi`
DROP TABLE IF EXISTS `notifikasi`;
CREATE TABLE `notifikasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_pengguna` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `read_status` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_persistent` tinyint(1) NOT NULL DEFAULT 0,
  `expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Table structure for table `otp_codes`
DROP TABLE IF EXISTS `otp_codes`;
CREATE TABLE `otp_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_wa` varchar(20) NOT NULL,
  `kode_otp` varchar(6) NOT NULL,
  `expired_at` datetime NOT NULL,
  `status` enum('belum','sudah') DEFAULT 'belum',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `payment_request`
DROP TABLE IF EXISTS `payment_request`;
CREATE TABLE `payment_request` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `request_code` varchar(60) NOT NULL COMMENT 'Kode unik untuk QR pembayaran',
  `user_id` int(10) unsigned NOT NULL COMMENT 'ID user penerima pembayaran',
  `amount` decimal(15,2) DEFAULT NULL COMMENT 'Nominal permintaan (boleh kosong)',
  `status` enum('pending','paid','expired','cancelled') NOT NULL DEFAULT 'pending' COMMENT 'Status permintaan pembayaran',
  `expired_at` datetime NOT NULL COMMENT 'Waktu kadaluarsa QR',
  `paid_at` datetime DEFAULT NULL COMMENT 'Waktu pembayaran berhasil',
  `created_at` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'Waktu dibuat',
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Waktu update terakhir',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_request_code` (`request_code`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `pengaturan_koperasi`
DROP TABLE IF EXISTS `pengaturan_koperasi`;
CREATE TABLE `pengaturan_koperasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) DEFAULT '',
  `logo` varchar(255) DEFAULT '',
  `alamat` text DEFAULT NULL,
  `email` varchar(255) DEFAULT '',
  `telepon` varchar(100) DEFAULT '',
  `penanggung` varchar(255) DEFAULT '',
  `require_admin_verification` tinyint(1) DEFAULT 1,
  `prevent_pending_login` tinyint(1) DEFAULT 1,
  `operational_days` varchar(255) DEFAULT 'Mon,Tue,Wed,Thu,Fri',
  `operational_start` time DEFAULT NULL,
  `operational_end` time DEFAULT NULL,
  `notify_email` varchar(255) DEFAULT '',
  `notify_phone` varchar(100) DEFAULT '',
  `template_new_user` text DEFAULT NULL,
  `template_withdrawal_pending` text DEFAULT NULL,
  `template_withdrawal_approved` text DEFAULT NULL,
  `primary_color` varchar(7) DEFAULT '#0d6efd',
  `footer_text` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Dumping data for table `pengaturan_koperasi`

-- Table structure for table `pengguna`
DROP TABLE IF EXISTS `pengguna`;
CREATE TABLE `pengguna` (
  `id` bigint(20) unsigned NOT NULL,
  `no_hp` varchar(15) NOT NULL,
  `kata_sandi` varchar(255) NOT NULL,
  `nama_lengkap` varchar(255) NOT NULL,
  `foto_profil` varchar(255) DEFAULT NULL,
  `alamat_domisili` varchar(255) NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `setuju_syarat` tinyint(1) NOT NULL DEFAULT 0,
  `status_akun` enum('draft','submitted','pending','approved','rejected') NOT NULL DEFAULT 'draft',
  `alasan_penolakan` text DEFAULT NULL,
  `saldo` bigint(20) unsigned DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `pin` varchar(255) DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_hp` (`no_hp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Dumping data for table `pengguna`
INSERT INTO `pengguna` (`id`,`no_hp`,`kata_sandi`,`nama_lengkap`,`foto_profil`,`alamat_domisili`,`tanggal_lahir`,`setuju_syarat`,`status_akun`,`alasan_penolakan`,`saldo`,`created_at`,`updated_at`,`pin`,`deleted_at`) VALUES ('1','08211529486','$2y$10$YAEIuTfyCset5KHaY8tC6.hTQwaVT5t/QxumAmH5zdwCnTnk.bMxW','Test User 9486',NULL,'Jl. Test 1','1990-01-01','1','submitted',NULL,'0','2026-01-10 00:55:05','2026-01-10 00:55:05',NULL,NULL);
INSERT INTO `pengguna` (`id`,`no_hp`,`kata_sandi`,`nama_lengkap`,`foto_profil`,`alamat_domisili`,`tanggal_lahir`,`setuju_syarat`,`status_akun`,`alasan_penolakan`,`saldo`,`created_at`,`updated_at`,`pin`,`deleted_at`) VALUES ('2','08884772148','$2y$10$lDJnvkDGA41gjexhhOySd.G05lnH7QryLvdHvHrZWznVCyzobZPaW','Test User 2148',NULL,'Jl. Test 1','1990-01-01','1','submitted',NULL,'0','2026-01-10 00:55:51','2026-01-10 00:55:51',NULL,NULL);
INSERT INTO `pengguna` (`id`,`no_hp`,`kata_sandi`,`nama_lengkap`,`foto_profil`,`alamat_domisili`,`tanggal_lahir`,`setuju_syarat`,`status_akun`,`alasan_penolakan`,`saldo`,`created_at`,`updated_at`,`pin`,`deleted_at`) VALUES ('3','08600759709','$2y$10$qyM8wbro7/hPLdpZmQAO5uRc5rcLCRacE5BDYg/LozFsP2xtanFOe','Test User 9709',NULL,'Jl. Test 1','1990-01-01','1','submitted',NULL,'0','2026-01-10 00:57:02','2026-01-10 00:57:02',NULL,NULL);

-- Table structure for table `pinjaman_biasa`
DROP TABLE IF EXISTS `pinjaman_biasa`;
CREATE TABLE `pinjaman_biasa` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_pengguna` bigint(20) DEFAULT NULL,
  `jumlah_pinjaman` decimal(15,2) DEFAULT NULL,
  `tenor` int(11) DEFAULT NULL,
  `tujuan_penggunaan` varchar(255) DEFAULT NULL,
  `cicilan_per_bulan` decimal(15,2) DEFAULT NULL,
  `status` enum('pending','approved','rejected','berjalan','lunas') DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `pinjaman_kredit`
DROP TABLE IF EXISTS `pinjaman_kredit`;
CREATE TABLE `pinjaman_kredit` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_pengguna` bigint(20) NOT NULL,
  `nama_barang` varchar(100) DEFAULT NULL,
  `harga` bigint(20) DEFAULT NULL,
  `dp` bigint(20) DEFAULT NULL,
  `pokok` bigint(20) DEFAULT NULL,
  `tenor` int(11) DEFAULT NULL,
  `cicilan_per_bulan` bigint(20) DEFAULT NULL,
  `total_bayar` bigint(20) DEFAULT NULL,
  `foto_barang` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected','berjalan','lunas') DEFAULT 'pending',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `pinjaman_kredit_log`
DROP TABLE IF EXISTS `pinjaman_kredit_log`;
CREATE TABLE `pinjaman_kredit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pinjaman_id` int(11) NOT NULL,
  `previous_status` varchar(64) DEFAULT NULL,
  `new_status` varchar(64) DEFAULT NULL,
  `changed_by` int(11) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pinjaman_id` (`pinjaman_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `riwayat_login`
DROP TABLE IF EXISTS `riwayat_login`;
CREATE TABLE `riwayat_login` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `login_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `hostname` varchar(255) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Dumping data for table `riwayat_login`
INSERT INTO `riwayat_login` (`id`,`username`,`login_time`,`hostname`,`ip_address`) VALUES ('125','admin','2026-01-10 00:43:24','DESKTOP-KDG6F7A','::1');

-- Table structure for table `sessions`
DROP TABLE IF EXISTS `sessions`;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `tabungan_keluar`
DROP TABLE IF EXISTS `tabungan_keluar`;
CREATE TABLE `tabungan_keluar` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengguna` bigint(20) unsigned NOT NULL,
  `id_jenis_tabungan` bigint(20) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `rejected_reason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_id_jenis_tabungan` (`id_jenis_tabungan`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_pengguna_jenis` (`id_pengguna`,`id_jenis_tabungan`),
  KEY `idx_fk_pengguna` (`id_pengguna`),
  KEY `idx_fk_jenis_tabungan` (`id_jenis_tabungan`),
  CONSTRAINT `fk_tabungan_keluar_jenis` FOREIGN KEY (`id_jenis_tabungan`) REFERENCES `jenis_tabungan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tabungan_keluar_jenis_tabungan` FOREIGN KEY (`id_jenis_tabungan`) REFERENCES `jenis_tabungan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tabungan_keluar_pengguna` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tk_jenis_tabungan_clean` FOREIGN KEY (`id_jenis_tabungan`) REFERENCES `jenis_tabungan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tk_pengguna_clean` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `tabungan_masuk`
DROP TABLE IF EXISTS `tabungan_masuk`;
CREATE TABLE `tabungan_masuk` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pengguna` bigint(20) unsigned NOT NULL,
  `id_jenis_tabungan` bigint(20) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_id_pengguna` (`id_pengguna`),
  KEY `idx_id_jenis_tabungan` (`id_jenis_tabungan`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_pengguna_jenis` (`id_pengguna`,`id_jenis_tabungan`),
  CONSTRAINT `fk_tabungan_masuk_jenis` FOREIGN KEY (`id_jenis_tabungan`) REFERENCES `jenis_tabungan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tabungan_masuk_pengguna` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Table structure for table `transaksi`
DROP TABLE IF EXISTS `transaksi`;
CREATE TABLE `transaksi` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `id_anggota` int(11) NOT NULL,
  `jenis_transaksi` enum('setoran','penarikan','transfer_masuk','transfer_keluar') NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `saldo_sebelum` decimal(15,2) DEFAULT 0.00,
  `saldo_sesudah` decimal(15,2) DEFAULT 0.00,
  `keterangan` text DEFAULT NULL,
  `tanggal` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('pending','approved','rejected') DEFAULT 'approved',
  PRIMARY KEY (`id_transaksi`),
  KEY `id_anggota` (`id_anggota`),
  KEY `jenis_transaksi` (`jenis_transaksi`),
  KEY `tanggal` (`tanggal`)
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Table structure for table `user`
DROP TABLE IF EXISTS `user`;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `hak_akses` enum('admin','petugas') NOT NULL,
  `foto` varchar(255) DEFAULT 'default.png',
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Dumping data for table `user`
INSERT INTO `user` (`id`,`username`,`password`,`nama`,`hak_akses`,`foto`,`last_login`) VALUES ('1','admin','f865b53623b121fd34ee5426c792e5c33af8c227','Administrator GAS','admin','default.png','2026-01-10 00:43:24');

-- Table structure for table `verifikasi_pengguna`
DROP TABLE IF EXISTS `verifikasi_pengguna`;
CREATE TABLE `verifikasi_pengguna` (
  `id_pengguna` bigint(20) unsigned NOT NULL,
  `foto_ktp` varchar(255) NOT NULL,
  `foto_selfie` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  KEY `verifikasi_pengguna_id_pengguna_foreign` (`id_pengguna`),
  CONSTRAINT `verifikasi_pengguna_id_pengguna_foreign` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

SET FOREIGN_KEY_CHECKS=1;
